body {
  background-color: rgb(232, 232, 232);
  width: 100%;
  height: 100vh;
}

/* 見出し部分スタイル */
.headtag {
  margin-top: 15px;
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: 2px solid;
}
.user-admin h1{
  text-align: center;
  color: rgb(41, 40, 40);
}

.search {
  margin-top: 30px;
}
#to {
  height: 40px;
  width: 350px;
  padding: 0 10px;
  position: absolute;
  border-radius: 20px;
  outline: none;
  background: #eee;
  border: 2px solid;
  border-color: black;
  margin-left: 25px;
}
#to:focus {
  border-color: rgb(134, 238, 100);
  box-shadow: 0 10px 25px 0 rgba(134, 238, 100, 0.5);
}
#btn {
  height: 38px;
  position: relative;
  left: 330px;
  top: 1px;
  white-space: nowrap;
  background: none;
  color: #666;
  border: none;
  font-size: 20px;
}
#btn:hover {
  color: rgb(87, 243, 243);
}

/* ユーザー情報テーブル一覧スタイル */
.table-data {
  margin-top: 30px;
}
.userinfo-table {
  border: 3px double;
  padding: 0;
  margin-bottom: 0;
}
th, td {
  border: solid 1px;
}
.page-state {
  display: flex;
  justify-content: end;
  vertical-align: middle;
  margin-right: 10px;
}
.pages {
  margin-top: 8px;
  margin-bottom: 8px;
}

.main-container {
  z-index: 1030;
}

/* 更新機能ダイアログ入力時のエラーが発生した場合 */
.error-message {
  background-color: rgb(255, 215, 55);
  border-radius: 10px;
  text-align: center;
  width: 90%;
}
.account-error {
  padding-top: 10px;
  color: rgb(253, 60, 46);
  font-weight: bold;
  display: inline-block;
  font-size: 23pt;
  transform: skewX(150deg);
  letter-spacing: 5px;
  text-shadow: 3px 3px 2px #999999,
  -3px 3px 2px #999999,
  3px -3px 2px #999999,
  -3px -3px 2px #999999,
  3px 0px 2px #999999,
  0px 3px 2px #999999,
  -3px 0px 2px #999999,
  0px -3px 2px #999999;
}
.error-message i {
  font-size: 45px;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 5px;
}

#delete {
  text-align: center;
  position: relative;
  top: 6px;
  color: rgb(248, 71, 71);
  font-weight: bold;
  font-size: 20pt;
  transform: skewX(160deg);
  font-weight: bold;
  letter-spacing: 5px;
  text-shadow: 3px 3px 2px #999999,
  -3px 3px 2px #999999,
  3px -3px 2px #999999,
  -3px -3px 2px #999999,
  3px 0px 2px #999999,
  0px 3px 2px #999999,
  -3px 0px 2px #999999,
  0px -3px 2px #999999;
}
#delete-link {
  cursor: pointer;
}

.icon {
  text-align: center;
}

/* ユーザー新規登録のリンクスタイル */
.sign-app {
  font-size: 35px;
  margin-top: 4px;
}
.sign {
  font-size: large;
  font-weight: 800;
}